appdirs
brotlipy
charset-normalizer
click
Flask
gunicorn
itsdangerous
joblib
MarkupSafe
mkl-fft
mkl-service
numpy
pandas
python-dotenv
pytz
requests
scikit-learn
scipy
threadpoolctl
urllib3
Werkzeug
zipp
