certifi
charset-normalizer
click
Flask
Flask-Cors
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
psycopg2-binary
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
typing_extensions
urllib3
Werkzeug
zipp
